<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<bean id="bookDAO" class="by.epam.library.dao.impl.BookDAOImpl"/>
	<bean id="userDAO" class="by.epam.library.dao.impl.UserDAOImpl"/>
	<bean id="initializationDAO" class="by.epam.library.dao.impl.InitializationDAOImpl"/>

	<bean id="commandProvider" class="by.epam.library.controller.command.CommandProvider"/>


	<bean id="bookService" class="by.epam.library.service.impl.BookServiceImpl"/>
	<bean id="userService" class="by.epam.library.service.impl.UserServiceImpl"/>
	<bean id="initializationService" class="by.epam.library.service.impl.InitializationServiceImpl"/>

	<bean id="connectionPool" class="by.epam.library.dao.connection.ConnectionPool"/>

</beans>